@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
    min-width: 0;
  }
}
